{{ define "CommentList" }}
{{ template "header" }}
<h1>Comments</h1>

<div>
    <div class="row">
        <div class="col-sm-4">
            <form action="/CommentList" method="post" class="row">
                <div class="form-group col-sm-12">
                    <input name="Author" type="text" class="form-control" placeholder="Name">
                </div>
                <div class="form-group col-sm-12">
                    <textarea class="form-control" rows="5" name="Content" placeholder="Comment"></textarea>
                </div>
                <div class="form-group col-sm-12">
                    <input type="submit" class="btn btn-secondary wide" value="Post">
                </div>
            </form>
            <a class="btn btn-primary" href="/">Back to home</a>
        </div>
        <div class="col-sm-8">
        {{ with .Comments }}
            {{ range .}}
                <div class="comment-box">
                    <div>
                        <div class="author">{{ .Author }}</div>
                        <div class="timestamp">{{ .DisplayTime }}</div>
                    </div>
                    <div class="comment">{{ .Content }}</div>                    
                </div>
            {{ end }}
        {{ end }}
        </div>
    </div>
</div>
{{ template "footer" }}
{{ end }}