{{ define "Index" }}
{{ template "header" . }}
<h1>Welcome to my Go server!</h1>
<br>
<p>This server was like, crazy easy to create</p>
<p>Play the <a href="/game">game?</a></p>
{{ template "footer" }}
{{ end }}