{{ define "header" }}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>GoServer</title>
   
    <link rel="stylesheet" href="/content/css/bootstrap.min.css">    
    <link rel="stylesheet" href="/content/css/bootstrap-theme.min.css" >    
    <link rel="stylesheet" type="text/css" href="/content/css/site.css">
    <script src="/content/js/jquery-3.1.1.min.js"></script>
    <script src="/content/js/bootstrap.min.js"></script>
    <script src="/content/js/nav-header.js"></script>
</head>
<body>
<div class="header">
    <h1>Kata Games</h1>
    <div class="nav-links row">
        <a class="nav-link" href="/">Home</a>
        <a class="nav-link" href="/game">Game</a>
        <a class="nav-link" href="https://katagames.tumblr.com">Blog</a>
        <a class="nav-link" href="/boards">Message Board</a>
        <a class="nav-link login" style="display: none;" href="/register">Register</a>
        <a class="nav-link login" style="display: none;" href="/login">Login</a>
        <a id="logout" class="nav-link" href="/logout">Logout</a>
        <a id="account" class="nav-link" href="">Account</a>
    </div>
</div>
<div class="container">
{{ end }}