body {
    color: beige;
    background-color: black;
}

.header {
    background-color: #242424;
    padding: 15px;
    text-align: center;
}
.comment-box {
    background-color: #242424;
    padding: 15px;
    border-radius: 15px;
    margin-bottom: 15px;
}
.comment {
    padding: 8px;
}
#edit-box {
    display: none;
}
#reply-box {
    display: none;
}
.author {
    color: orange;
    display: inline-block;
    font-size: 110%;
}

.timestamp {
    color: mediumseagreen;
    display: inline-block;
    font-size: 90%;
    padding-left: 5px;
}
.post-new {
    background-color: #242424;
    border-radius: 15px;
    padding: 15px;
}
.post-reply {
    background-color: #242424;
    border-radius: 15px;
    padding: 15px;
    margin-bottom: 15px;
    margin-left: 15px;
}
.errors {
    color: red;
}
.cancel-button {
    color: black;
}
.control-link {
    display: inline-block;
    font-size: 90%;
    margin: 0px 8px;
    color: indianred;
    cursor: pointer;
}

.nav-link {
    padding: 15px;
}

.wide {
    width: 100%;
}

textarea, input {
    color: #242424;
}